In [12]:
# import sys
# !{sys.executable} -m pip install pandas-profiling
# !jupyter nbextension enable --py widgetsnbextension

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting pandas-profiling
  Using cached pandas_profiling-3.1.0-py2.py3-none-any.whl (261 kB)
Requirement already satisfied: PyYAML>=5.0.0 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (3.0.3)
Collecting htmlmin>=0.1.12
  Using cached htmlmin-0.1.12-py3-none-any.whl
Collecting phik>=0.11.1
  Using cached phik-0.12.0-cp39-cp39-macosx_10_13_x86_64.whl (653 kB)
Collecting pydantic>=1.8.1
  Using cached pydantic-1.9.0-cp39-cp39-macosx_10_9_x86_64.whl (2.9 MB)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (1.3.5)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (3.5.1)
Requirement already satisfied: requests>=2.24.0 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (2.27.1)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (1.7.3)
Collecting missingno>=0.4.2
  Using cached missingno-0.5.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: visions[type_image_path]==0.7.4 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (0.7.4)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (1.20.1)
Requirement already satisfied: seaborn>=0.10.1 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (0.1.0)
Requirement already satisfied: multimethod>=1.4 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (1.7)
Requirement already satisfied: markupsafe~=2.0.1 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (2.0.1)
Requirement already satisfied: joblib~=1.0.1 in /usr/local/lib/python3.9/site-packages (from pandas-profiling) (1.0.1)
Collecting tqdm>=4.48.2
  Using cached tqdm-4.62.3-py2.py3-none-any.whl (76 kB)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.9/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (21.4.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.9/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (2.6.3)
Requirement already satisfied: Pillow in /usr/local/lib/python3.9/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (9.0.0)
Requirement already satisfied: imagehash in /usr/local/lib/python3.9/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (4.2.1)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/Cellar/sip/6.0.3/libexec/lib/python3.9/site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/site-packages (from matplotlib>=3.2.0->pandas-profiling) (4.28.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/Cellar/sip/6.0.3/libexec/lib/python3.9/site-packages (from matplotlib>=3.2.0->pandas-profiling) (20.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2021.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.9/site-packages (from pydantic>=1.8.1->pandas-profiling) (4.0.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/site-packages (from requests>=2.24.0->pandas-profiling) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/site-packages (from requests>=2.24.0->pandas-profiling) (2.0.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/site-packages (from requests>=2.24.0->pandas-profiling) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/site-packages (from requests>=2.24.0->pandas-profiling) (2021.10.8)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/protobuf/3.15.6/libexec/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas-profiling) (1.15.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.9/site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling) (1.2.0)
Installing collected packages: tqdm, pydantic, phik, missingno, htmlmin, pandas-profiling
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed htmlmin-0.1.12 missingno-0.5.0 pandas-profiling-3.1.0 phik-0.12.0 pydantic-1.9.0 tqdm-4.62.3
WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [13]:
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
data_frame = pd.read_csv("data/census.csv")
print(data_frame.shape)
data_frame.head()

(32561, 15)

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Clean white spaces

In [3]:
data_frame.columns

Index(['age', ' workclass', ' fnlgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' salary'],
      dtype='object')

In [4]:
clean_colnames = [col.strip() for col in list(data_frame.columns)]
data_frame.columns = clean_colnames
data_frame.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [5]:
object_cols = [col for col in data_frame.columns if data_frame[col].dtype == "O"]
[data_frame[col].iloc[1] for col in object_cols]

[' Self-emp-not-inc',
 ' Bachelors',
 ' Married-civ-spouse',
 ' Exec-managerial',
 ' Husband',
 ' White',
 ' Male',
 ' United-States',
 ' <=50K']

In [6]:
data_frame = data_frame.apply(lambda col: col.str.strip() if col.dtype == "O" else col)
data_frame.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# EDA

In [ ]:
profile = ProfileReport(data_frame, title="Pandas Profiling Report")
profile

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

# Save to disk

In [7]:
data_frame.to_csv("Data/clean_census.csv", index = False)